# This file is a "template" of what your parameters.yml file should look like
parameters:
    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            73f0169cd12044e08c98f22933e894c4

    openexchange.app_id: 73f0169cd12044e08c98f22933e894c4
