{% extends 'NecryinCCBundle::base.html.twig' %}

{% block body %}
    <div ng-app="cc" ng-controller="MainController as main" class="container-fluid">
        Из
        <select ng-model="from" id="from">
            <option ng-repeat="(code, rate) in rates[currentProvider]" ng-bind="code"></option>
        </select>
        в
        <select ng-model="to" id="to">
            <option ng-repeat="(code, rate) in rates[currentProvider]" ng-bind="code"></option>
        </select>

        <div>Провайдеры курсов
            <select ng-change="updateRates()" ng-model="currentProvider"
                    ng-options="provider for provider in providers">
            </select>
        </div>
        <input ng-model="amount" type="text" value="1"/>
        <input type="button" value="calc" ng-click="calculate()"/>
        <br/>Результат: <span ng-model="result" ng-bind="result"></span>
    </div>
{% endblock %}

 {% block javascripts %}
     {% javascripts '@NecryinCCBundle/Resources/public/js/lib/*' %}
     <script type="text/javascript" src="{{ asset_url }}"></script>
     {% endjavascripts %}

     <script src="{{ asset('bundles/necryincc/js/app.js') }}"></script>
 {% endblock %}
